@model WatchStoreApp.Models.CustomerOrderViewModel
@{
    ViewData["Title"] = "Create2";
}

<h1><strong>Selecting your product and quantity</strong></h1>

<div class="row">
    <div class="col-mid-4">
        <form asp-action="Create2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OID" class="control-label"></label>
                <input asp-for="OID" class="form-control" />
                <span asp-validation-for="OID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PID" class="control-label"></label>
                <input asp-for="PID" class="form-control" />
                <span asp-validation-for="PID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create new customer order" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to the order directory</a>
</div>

