@model IEnumerable<WatchStoreApp.Models.CustomerViewModel>

@{
    ViewData["Title"] = "Search";
}

<h1><strong>Search customer</strong></h1>

<div>
    <form asp-action="Index" method="GET" class="form-inline">
        <label class="sr-only" for="search">Search:</label>
        <input type="search" class="form-control mb-2 mr-sm-2 mb-sm-0" id="search" name="search" placeholder="Search" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div>
    <a asp-action="Index">Back to the customers</a>
</div>

