@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3><em>Tri's Watch Store</em></h3>
    <p>
        <img src ="https://media.truefacet.com/guide/wp-content/uploads/2018/10/Cartier-Tank-Louis-Cartier-5.jpg" height="350 "width="600" alt="Cartier" />
        <br />
        About the <a href="https://blog.crownandcaliber.com/cartier-tank-a-history/">iconic Cartier Tank</a>
        <br />
        <img src ="https://www.ablogtowatch.com/wp-content/uploads/2019/06/Grand-Seiko-Four-Seasons-3-1024x1024.jpeg" height="350 "width="600" alt="Grand Seiko" />
        <br />
        History lesson on <a href="https://www.grand-seiko.com/us-en/about/history">Grand Seiko</a>
    </p>
</div>
